body {
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/* Header */
.header {
    padding: 5px;
    background-color: rgb(15, 77, 11);
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

.header h1 {
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
    display: inline-block;
}


.header  nav {
    font-size: 20px;
}

.header ul {
    list-style-type: none;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;


}

.header ul li {
    display: inline;
    margin-left: 25px;
    
}

.navbar-right {
    display: flex;
    align-self:flex-end
}

.header a {
    color: #ffffff;
    text-decoration: none;
}
/* End Header */

/* main */
.hero {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.aboutme {
    margin: 20px;
    padding: 0px 0px 0px 0px;
}

.aboutme img {
    width: 200px;
    float: left;
    padding-right: 16px;
}

.work {
    margin: 20px;
    padding: 0%;
}

.contact-me {
    margin: 20px;
}

.contact-me a {
    color: black;
}